        <section class="about222-section text-center bg-black" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">탄소중립이란 </h2>
                        <p class="text-white-50">
                            온실가스 배출을 최대한 줄이고, 남은 온실가스는 흡수 및 제거를 통해 실질 배출량이 0(Zero)가 되는 개념 <br>
                            <a href="https://www.korea.kr/special/policyCurationView.do?newsId=148881562">2050 탄소중립</a><br>
                            Nationally Determined Contribution - carbon neutrality
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="{%static '/assets/img/zero emission2.png'%}" alt="..." />
            </div>
        </section>
        <section class="about-section text-center bg-black" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">탄소배출권이란 </h2>
                        <p class="text-white-50">
                             ‘어떻게 하면 이산화탄소 배출량을 효과적으로 줄일 수 있을까?’ <br>
                             효율적인 방법으로 평가받는 한 가지가 바로 ‘탄소배출권 거래제(Emissions Trading System, ETS)’ <br>
                             ex) 쓰레기 종량제 덕분에 쓰레기를 버리고 싶은 사람은 이제 규격화된 쓰레기 봉투를 구입해서 버려야 합니다.<br> 
                             그렇기에 길거리가 더러워지지 않지요. <br>나아가 쓰레기 봉투를 팔아 얻은 대금은 쓰레기 처리 비용으로도 쓸 수 있습니다. <br>
                            <a href="https://www.etrans.or.kr/info/list.php?admin_mode=read&no=4035&make=&search=&prd_cate=1">탄소배출권 개념</a><br>
                            certified emission reduction
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="{%static '/assets/img/1212.png'%}" alt="..." />
            </div>
        </section>